<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
  <extension point="org.eclipse.sirius.componentization">
    <component class="org.eclipse.smartmdsd.sirius.system.componentArchitecture.design.Activator"
               id="org.eclipse.smartmdsd.sirius.system.componentArchitecture.design"
	       name="componentArchitecture">
    </component>
  </extension>
  <extension
        point="org.eclipse.ui.views">
     <view
           category="org.eclipse.smartmdsd.navigator.views"
           class="org.eclipse.smartmdsd.sirius.system.componentArchitecture.design.SystemParameterViewPart"
           icon="icons/Parameter.gif"
           id="org.eclipse.smartmdsd.sirius.system.componentArchitecture.design.SystemParamView"
           name="System Parameter Editor View"
           restorable="true">
     </view>
  </extension>
  <extension
        point="org.eclipse.sirius.externalJavaAction">
     <javaActions
           actionClass="org.eclipse.smartmdsd.sirius.system.componentArchitecture.design.OpenSystemParameterEditorAction"
           id="OpenSystemParameterEditor">
     </javaActions>
  </extension>
  <extension
        point="org.eclipse.smartmdsd.ui.SmartMDSDModelContributionEP">
     <SiriusContribution
           class="org.eclipse.smartmdsd.sirius.system.componentArchitecture.design.SmartMDSDSiriusSystemArchitecture">
     </SiriusContribution>
  </extension>
</plugin>
